body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* { color: gainsboro;}

.centrar {
    width: 1200px;
    margin:auto; 
}
  
.centrarTitulo0 { 
    font-size: 25px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    border-top: 0;
}

.centrarTitulo1 { 
    margin: auto;
    font-size: 20px;
    text-align: center;   
}

.centrarTexto {
    background-color: transparent;
    text-align: center;
    margin: 0 auto; 
    font-size:25px;
}

.textos{
    display: none;
    padding: 0 15px;
    font-family:'Times New Roman', Times, serif;
}

.centrarImagen {
    margin: 50px 0;
}

.imagenRedonda {
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    box-shadow: 0 0 10px 5px #fafafa;
}

section{
    margin-bottom: 20px;
}

button {
    font-size: 25px;
    color: white;
    border:none;
    border-radius: 100px;
    padding: 20px ;
    cursor: pointer;
    background-color: transparent;
    transform: translateX(0px);
    transition: all 1s;
}

.boton-abierto {
    color: #33ff76;
    transform: translateX(-200px);
}

.boton {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    box-shadow: 0 0 8px #5e5e5e;
    border: 1px solid #787878;
}

.contact-info {
    font-size: 1.2em; 
  }

  .fechas {
    font-size: 10px;
  }